h1 {
    color:rgb(186, 225, 9);
    /*
    color: rgba(225, 218, 9, 0.506);
    color: red;
    color: #8800ff;
    color: #80f;
    color: #8800ff88;
    color: #80f8;
    */
}

p {
    color: rgb(128, 0, 119);
    font-size: 4pt;
}